body {
    background-image:
    linear-gradient(
      to right, 
      rgb(14, 17, 34), #2a0818
    );
    color: white;
    margin: 15px;
    padding: 5px;
    text-align: center;
    font-family: Work Sans;
}

.title{
    font-size: 6vw;
    margin-bottom: 0px;
}

.heading-title{
    margin: 5px 10px;
    font-size: 24px;
}

.timeline{
    margin-top: 0px;
    font-size: 2rem;
    font-weight: bolder;
}

img {
    display: inline-block;
    border-radius: 15px;
    width: 600px;
    padding: 15px;
}

.img-caption {
    width: 60%;
    margin: 10px auto;
    padding: 4px;
    background-image:
    linear-gradient(
      to right, 
      rgb(13, 15, 30), #1e0611
    );
}

.img-caption h4 {
    margin: 10px;
    font-size: 1.3em;
}

.achievements-list{
    list-style-type: square;
    font-size: 18px;
    text-align: justify;
 }

.tribute{
    padding:0px;
    margin-top: 70px;
    font-size: 2rem;
    text-align: center;
}

li{
    text-align: justify;
    line-height: 2em;
    justify-content: space-evenly;
    padding: 5px 0 0;
    margin: 15px;
} 

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgb(8, 5, 23);
}

.button-link {
    border: 2px solid rgb(24, 21, 41);
    padding: 7px 15px;
}

.button-link:hover {
    background-color: rgb(24, 21, 41);
    color: white;
    border: 2px solid rgb(24, 21, 41);
}